db.xml
db.sqlite3

# venv stuff
include/
bin/
lib/
lib64
pyvenv.cfg

# misc
*~
.*~
.*swp
**/__pycache__
api_keys.txt
Makefile.apikeys
/.idea/
.project.env
audio/
alpine-setup/alpine*.tar.gz
alpine-setup/app/db.sqlite3
alpine-setup/app/audio
alpine-setup/install/root.tar
alpine-setup/root
